html {
    min-height: 100%;
}

body {
    font-family: monospace;
    margin: 0, auto;
    background: -webkit-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(38, 38, 38, 1) 100%);
    background: -moz-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(38, 38, 38, 1) 100%);
    background: -o-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(38, 38, 38, 1) 100%);
    background: -ms-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(38, 38, 38, 1) 100%);
    background: linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(38, 38, 38, 1) 100%);
}

h1 {
    font-size: 5em;
    color: #ccc;
    -moz-text-shadow: 3px 3px 2px #333;
    -webkit-text-shadow: 3px 3px 2px #333;
    text-shadow: 3px 3px 2px #333;
}

h2 {
    font-size: 2em;
    margin-top: -30px;
    color: #ccc;
    -moz-text-shadow: 3px 3px 2px #333;
    -webkit-text-shadow: 3px 3px 2px #333;
    text-shadow: 3px 3px 2px #333;
}

footer {
    width: 760px;
    margin: 0 auto;
    font-size: .9em;
}

#wrapper {
    text-align: center;
}

.box {
    background-color: #ccc;
    text-align: left;
    font-family: monospace, serif;
    color: #444;
    border: 1px solid #333;
    padding: 10px;
    -webkit-box-shadow: 0 0 5px #333;
    -moz-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333;
}

section {
    /*background-color: orange;*/
    margin: 30px auto;
    width: 760px;
    overflow: hidden;
    padding: 0;
    min-height: 100px;
}

section.description-example-wrapper {
    float: left;
}

section pre {
    float: right;
}

.description {
    width: 400px;
    font-family: verdana, sans-serif;
    font-size: .9em;
    margin-bottom: 10px;
}

.code {
    margin: 0;
    width: 300px;
    height: 100%;
    font-size: .9em;
    padding: 10px;
}

.example {
    width: 400px;
    font-family: arial, sans-serif;
    font-size: .9em;
    font-style: italic;
    height: 100%;
}

.github {
    position: absolute;
    top: 0px;
    right: 0px
}

.githubRibbon {
  background-color: #121621;
  overflow: hidden;
  /* top left corner */
  position: absolute;
  right: -3.5em;
  top: 3.5em;
  /* 45 deg ccw rotation */
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  /* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}
.githubRibbon a {
  border: 1px solid #4a4c55;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}